# Data and Database
data/
*.csv
*.db
*.sqlite
*.sqlite3

# Python Virtual Environment
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
!.vscode/settings.json
.idea/

# Jupyter Notebooks
.ipynb_checkpoints
